<!DOCTYPE html>
<html>
    <head>
    <title>Real-Time Products</title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        socket.on('productCreated', (products) => {
        updateProductList(products);
    });

    socket.on('productDeleted', (products) => {
        updateProductList(products);
    });

    function updateProductList(products) {
        const productList = document.getElementById('productList');
        productList.innerHTML = '';

        for (const product of products) {
            const li = document.createElement('li');
            li.innerText = `${product.name} - ${product.price}`;
            productList.appendChild(li);
        }
    }
    </script>
</head>
    <body>
    <h1>List of Real-Time Products</h1>
    <ul id="productList">
        {{#each products}}
        <li>{{this.name}} - {{this.price}}</li>
        {{/each}}
    </ul>
</body>
</html>
